body{background: url(お空.jpg);}

@font-face{
  
   

}

#willkommen{
    font-family: "hoshino-font";
    color:aquamarine;
    text-align: center;
    margin: 100px auto;
    font-size: 200%;
}


.linke{
    width: 1300px;
    height:  160px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    
}

.links{
    margin: auto 25px; 
    transition: margin 0.5s;
}

.im{
    width: 40%;
}

.element{
    text-align: center;
}

.linkbutton{
    width: 300px;
    transition: width 0.5s;
}

.linkbutton:hover{
    width: 400px;
    transition: width 0.5s;
}

.linkbutton:hover links{
    margin: auto 10px;
    transition: margin 0.5s;
}

#monitor{
    background: #ffd67b;
    width: 850px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

#screen{
    background: #4b4b4d;
    width: 800px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.ml{
    color: yellow;
    font-size: 150%;
    margin: 0;
}

.linkbutton:hover .hoverbefore{
    font-size: 0;
}

#profile{
    width: 50%;
    height: 300px;
    background: #ffb3f0;
    margin: 0 auto;
    top: 100px;
}
